# Binance
PRIMARY_WS_BASE=wss://stream.binance.com:9443/stream?streams=
FALLBACK_WS_BASE=wss://data-stream.binance.vision/stream?streams=

# Symbols
SYMBOLS=btcusdt,ethusdt,solusdt

# Rules
PRICE_CHANGE_WINDOW_SEC=60
PRICE_CHANGE_THRESHOLD_PCT=1.0

VOLUME_WINDOW_SEC=60
VOLUME_MULTIPLIER_THRESHOLD=3.0

SPREAD_THRESHOLD_PCT=0.15
ALERT_COOLDOWN_SEC=180

# Runtime
RECONNECT_DELAY_SECONDS=5
LOG_LEVEL=INFO

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Healthcheck
ENABLE_HEALTHCHECK=true
PORT=8080
